* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix {
	display: inline-block;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
#skip a:link, #skip a:hover, #skip a:visited {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
#skip a:active, #skip a:focus {
	position: static;
	width: auto;
	height: auto;
}
/*
FORMS
*/
.container .form-submit{
	background: #e74c3c;
	color: #fff;
	box-shadow: 0 2px 0 #c0392b;
	padding: 10px 18px;
	border: none;
	transition: all 0.4s ease;
	font-weight:300;
	border-radius:4px;
}
.form-submit:hover {
	background: #34495e;
	box-shadow: 0 2px 0 #2c3e50;
}
#edit-submit.form-submit {
	margin-right:0.5rem
}
/*
TABS
*/
div.tabs {
	margin-bottom:1rem
}
ul.tabs {
	border: none;
	padding:0;
	margin:0
}
ul.tabs.primary {
	margin-bottom:0.3rem
}
ul.tabs li {
	border:none;
	font-size:16px
}
ul.tabs li a {
	color: #222222;
	float: left;
	padding: 0.7em 1em;
	display: block;
	background-color: #ecf0f1;
	margin-right: 5px;
	border-radius: 4px 4px 0 0;
	border: none;
}
ul.tabs li a:hover,
ul.tabs li.active a {
	background-color: #34495e;
	color: #fff;
	border:none
}
ul.tabs.secondary li a {
	font-size:14px
}
.action-links {
	margin:0.5rem 0;
	display:flex
}
.action-links li a{
	background: #e74c3c;
	color: #fff;
	box-shadow: 0 2px 0 #c0392b;
	padding: 4px 8px;
	border: none;
	border-radius:4px;
	transition: all 0.4s ease;
	margin-right:0.2rem;
	display:inline-block
}

/***
VIEWS
*/
.views-exposed-form .views-exposed-widget .form-submit {
	margin: 0
}
.view-commerce-message-messages {
	margin:1em 0
}
/*
EVENT SLIDER
*/
.item-list .event-slider li{
	padding: 0;
	margin:0 ;
}
.item-list .event-slider img{
	width:100%;
	height:auto
}
/*
END - EVENT SLIDERS
*/

/*
PRODUCTS VIEW AND ALL PRODUCTS VIEWS
*/
.view-collection-products .view-content h3{
	display:none
}
.product-view .view-content{
	display:flex;
	flex-wrap: wrap;
	padding:0
}
.product-view-item {
	box-shadow: 0 0 17px rgba(0,0,0,0.12);
	box-sizing:border-box;
	margin:0 0.5%w 1vh 0.5%;
	flex-grow:1;
	padding:16px;
	transition: all .2s ease-in-out;
}
.product-view-item *{
	margin:0;
	padding:0
}
@media screen and (min-width: 45em) {
	.product-view-item {
		max-width:25%;
	}
}
.product-view-item:hover
.product-view-item:focus {
	box-shadow: 0 0 17px rgba(153,153,153,0.8);
}
.product-view-item img{
	transition: all .2s ease-in-out;
	width:100%;
	height:auto
}
.product-view-item:hover img,
.product-view-item:focus img {
	transform: scale(1.05);
}
.product-view-item h2{
	font-size:21px;
	margin-bottom:10px
}
.product-view-item .field-name-commerce-price .field-item p{
	margin:0;
	color: #696e6e
}
.product-view-item .field-name-commerce-price .field-item{
	font-weight:300;
	color:#e74c3c
}/*
END - PRODUCTS AND ALL PRODUCTS VIEWS
*/
